= render "user_header"
.user-contents
  .user-contents__nav
    = link_to '新着', user_path(@user), class: "menu menu--no-active"
    = link_to '人気', popular_user_path(@user), class: "menu menu--active"
  .user-contents__body
    = render partial: "pictures/pictures", locals: { pictures: @pictures}