.user-header
  .user-header__name
    = @user.name
  .user-header__icon
    = image_tag @user.image.url
  .user-header__action

.user-contents
  .user-contents__nav
    .menu.menu--active
      投稿
  .user-contents__body
    = render partial: "pictures/pictures", locals: { pictures: @pictures}