@import "mixin/mixin";

.header {
  @include line_up_side(space-between);
  height: 50px;
  padding: 0 60px;
  line-height: 50px;
  border-bottom: 1px solid $main-color;

  .header-menu {
    transition: background-color 0.3s;
    height: 50px;
    padding: 0 15px;
    &:hover {
      background-color: #abf8e454;
    }
  }
  
  &__left {
    display: flex;
    
    .logo {
      font-family: serif;
      font-size: 25px;
    }

    .index-select {
      display: flex;
    }
  }

  &__right {
    display: flex;
  }
}