#pictures-nav {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

#nav-container {
  @include line_up_side(space-between);
  height: 100%;
  position: relative;
  max-width: 1750px;
  margin: 0 auto;
}

#category-search {
  border: 1px solid whitesmoke;
  color: gray;
  border-radius: 5px;
  padding: 3px 5px;
  &:hover {
    border-color: rgb(236, 236, 236);
  }
}

#search-home {
  @include line_up_side(center);
  width: 400px;
  line-height: 30px;

  button {
    display: block;
    background-color: $main-color;
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 2px;
    margin-top: -1px;
    cursor: pointer;

    &:hover {
      background-color: #3fd6c7;
    }
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }
}

#keyword-input {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: whitesmoke;
  border: none;
  font-size: 16px;
}

#action-buttons {
  @include line_up_side(center);
  
  .btn {
    color: white;
    border-radius: 17.5px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
  }
  
  .new-picture-link {
    background-color: $main-color;
    width: 125px;
    height: 35px;
    
    &:hover {
      background-color: $main-color-light;
    }
  }
  .favorite-picture-link {
    background-color: #ffa62b;
    width: 125px;
    height: 35px;
    
    &:hover {
      background-color: #fdb147;
    }
  }
}

#pictures-index-actions {
  @include line_up_side(center);
  position: absolute;
  color: #333;
  width: 100%;
  top: 90px;
  left: 0;
}

.pictures-actions {
  @include line_up_side(center);
  background-color: whitesmoke;
  padding-top: 20px;
}

#slideshow-link {
  display: block;
  background-color: $main-color;
  color: white;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;

  &:hover {
    background-color: $main-color-light;
  }
}

#q_sorts {
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  border: 1px solid lightgray;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  #pictures-nav {
    height: 50px;
    padding: 0 30px;
  }

  #action-buttons {
    display: none;
  }

#pictures-index-actions {
  top: 60px;
}

  #search-home{
    width: 325px;
  }
}

@media screen and (max-width: 559px) {
  #nav-container {
    justify-content: center;
  }

  #category-search {
    display: none;
  }

  #search-home {
    width: 100%;
    min-width: 280px;
  }

  #keyword-input {
    height: 30px;
  }
}