#notifications {
  background-color: whitesmoke;
  color: #333;
  padding: 30px;

  &__list {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &__title {
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-bottom: 1px solid lightgray;
    }

    &__contents {
      padding: 0 30px;
      
      .notification-box {
        padding: 20px;
        border-bottom: 1px solid lightgray;
        overflow-x: scroll;

        a {
          color: $main-color;
          padding: 0 5px;

          &:hover {
            color: $main-color-light;
            text-decoration: underline;
          }
        }

        &__top {
          @include line_up_side(space-between);

          .sentence {
            @include line_up_side(left);
            flex-wrap: wrap;

            &__visitor {
              @include line_up_side(center);
              white-space: nowrap;
            }

            &--break {
              @include line_up_side(center);
              white-space: nowrap;
            }

            .user-icon {
              background-color: white;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }

            .picture {
              height: 50px;
            }
          }

          .time {
            font-size: 12px;
            margin-left: 30px;
            white-space: nowrap;
            color: gray;
            text-align: right;
          }
        }

        &__bottom {
          margin-top: 15px;
          padding: 3px 10px;
          border: 1px solid lightgray;
          border-radius: 5px;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  #notifications {
    padding: 15px 15px;
    &__list__contents {
      font-size: 14px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 559px) {
  .notification-box {
    padding: 20px 0 !important;
  }
}