.notifications {
  background-color: whitesmoke;
  color: #333;
  padding: 30px 45px;

  &__list {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &__title {
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-bottom: 1px solid lightgray;
    }

    &__contents {
      padding: 30px;

      .notification-box {
        padding: 20px;
        border-bottom: 1px solid lightgray;

        a {
          color: $main-color;
          padding: 0 5px;

          &:hover {
            color: $main-color-light;
            text-decoration: underline;
          }
        }

        &__top {
          @include line_up_side(space-between);

          .sentence {
            @include line_up_side(center);

            &__visitor {
              @include line_up_side(center);
            }

            .user-icon {
              background-color: white;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }

            .picture {
              height: 50px;
            }
          }

          .time {
            font-size: 14px;
          }
        }

        &__bottom {
          padding-top: 10px;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}