#pictures-nav {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid whitesmoke;
}

#nav-container {
  @include line_up_side(space-between);
  height: 100%;
  position: relative;
  max-width: 1750px;
  margin: 0 auto;
}

#front-back {
  position: absolute;
  display: flex;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);

  &__count {
    @include line_up_vertical(center);
    text-align: center;
    line-height: 16px;

    &__top a:hover {
      text-decoration: underline;
    }

    &__bottom {
      margin-top: 5px;
    }
  }

  .page-btn {
    transition: color 0.2s;
    color: gray;
    margin: 0 20px;
    font-size: 35px;

    &:hover {
      color: #333;
    }
  }

  .disappear {
    opacity: 0;
  }
}

#category-search {
  color: $main-color;

  &:hover {
    text-decoration: underline;
    color: $main-color-light;
  }
}

#search-home {
  position: relative;
  width: 400px;
  line-height: 30px;

  button {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: $main-color;
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: #3fd6c7;
    }
  }
}

#keyword-input {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: whitesmoke;
  border: none;
  font-size: 16px;
}

#pictures-index-actions {
  @include line_up_side(center);
  position: absolute;
  color: #333;
  width: 100%;
  top: 90px;
  left: 0;
}

#slideshow-link {
  line-height: 20px;
  margin-right: 30px;

  i {
    font-size: 20px;
  }
  span {
    font-size: 12px;
    margin-left: 5px;
  }
  &:hover {
    color: #545454;
  }
}

#select-sort {
  text-align: right;
  
  select {
    height: 30px;
    font-size: 14px;
    cursor: pointer;
  }
}

#action-buttons {
  @include line_up_side(center);

  .btn {
    color: white;
    border-radius: 17.5px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
  }

  .new-picture-link {
    background: linear-gradient(to right, #23aeba,#53d8b9);
    width: 125px;
    height: 35px;

    &:hover {
      background: linear-gradient(to right, #26bdca,#59e7c6);;
    }
  }
  .favorite-picture-link {
    background: linear-gradient(to right, orange, salmon);
    width: 170px;
    height: 35px;

    &:hover {
      background: linear-gradient(to right,  rgb(255, 182, 48), rgb(253, 147, 135));
    }
  }
}

.pictures-actions {
  @include line_up_side(center);
  background-color: whitesmoke;
  padding-top: 20px;

  .slideshow-link {
    line-height: 20px;
    margin-right: 30px;

    i {
      font-size: 20px;
    }
    span {
      font-size: 12px;
      margin-left: 5px;
    }
    &:hover {
      color: #545454;
    }
  }

  select {
    color: #333;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
  }
}

.pictures-index {
  @include line_up_side(center);
  background-color: whitesmoke;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;

  &--home {
    padding-top: 50px;
  }

  .picture {
    position: relative;
    height: 250px;
    margin: 3px;
    overflow: hidden;

    img {
      transition: transform 0.3s;
      height: 250px;
  
      &:hover {
        transform: scale(1.05, 1.05);
      }
    }

    .picture-info {
      @include line_up_side(flex-end);
      background: linear-gradient(to bottom, #333, rgba(51, 51, 51, 0.8));
      color: lightgray;
      position: absolute;
      z-index: 5;
      top: 0;
      width: 100%;
      height: 35px;
      padding: 0 15px;
      visibility: hidden;

      &.visible {
        visibility: visible;
        animation-duration: 0.3s;
        animation-name: fade-in;

        @keyframes fade-in {
          0% {
            visibility: hidden;
            opacity: 0;
          }
        
          100% {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .picture-comments {
        margin-right: 15px;

        i {
          font-size: 18px;
        }
      }

      .picture-favorite {
        @include line_up_side(center);

        .fav-btn {
          margin-right: 5px;
          font-size: 18px;

          &:hover {
            filter: drop-shadow(0 0 4px red);
          }

          &--on {
            color: rgb(224, 36, 94);
          }

          &--off {
            color: lightgray;
          }
        }

        .fav-count--on {
          color: rgb(224, 36, 94);
        }
      }
    }
  }
}

.pagination {
  background-color: white;
  text-align: center;
  height: 75px;
  line-height: 75px;
  font-size: 16px;

  span {
    padding: 0 7px;
  }

  .current {
    color: $main-color;
    font-weight: bold;
  }

  a:hover {
    color: gray;
    text-decoration: underline;
  }
}

@media screen and (max-width: 959px) {
  #action-buttons {
    display: none;
  }

  #search-home{
    width: 325px;
  }
}

@media screen and (max-width: 559px) {
  #pictures-nav {
    padding: 0 20px;
    height: 50px;
  }

  #category-search {
    display: none;
  }

  #search-home {
    width: 100%;
    min-width: 280px;
  }

  #keyword-input {
    font-size: 14px;
    height: 30px;
  }

  .picture, .picture a img {
    height: 200px !important;
  }
}