.picture-content {
  @include line_up_vertical_side-center;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 0 10px 20px;
  
  .picture-user {
    @include line_up_side(center);
    font-size: 15px;
    color: #333;
    height: 35px;
    line-height: 35px;
    text-align: center;

    .created-time {
      font-size: 12px;
      margin-left: 20px;
    }

    .user-name {
      color: #545454;
      text-decoration: underline;
      &:hover {
        color: black;
      }
    }
  }

  .picture-favorite {
    @include line_up_side(center);

    .fav-btn {
      margin-right: 5px;
      font-size: 20px;
      transition: .3s;
      &:hover {
        filter: drop-shadow(0 0 5px red);
      }

      &--on {
        color: rgb(224, 36, 94);
      }

      &--off {
        color: gray;
      }
    }

    .fav-count--on {
      color: rgb(224, 36, 94);
    }
  }

  .picture-action {
    @include line_up_side(center);
    margin-top: 5px;

    .action-btn {
      color: gray;
      margin: 0 7px;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  img {
    max-height: 750px;
    max-width: 1100px;
    width: 95%;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

#edit-form {
display: none;
position: fixed;
z-index: 15;
top: 0;
text-align: center;

  #modal {
    background-color: rgba(128, 128, 128, 0.5);
    width: 100vw;
    height: 100vh;
  }

  #edit-form-body {
    background-color: white;
    z-index: 20;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 95%;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 1px 3px #999;

    #close-btn {
      color: gray;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #545454;
      }
    }

    .form-title {
      border-bottom: 1px solid lightgray;
    }

    .form-contents {
      margin-top: 25px;

      .input-title {
        width: 350px;
        height: 35px;
        padding: 0 5px;
      }

      ul {
        margin-bottom: 20px;
      }

      .ui-autocomplete-input {
        width: 90%;
        height: 35px;
        margin: 0 auto;
      }

      input.send-btn {
        background: linear-gradient(to right, #23aeba,#53d8b9);
        color: white;
        border-style: none;
        border-radius: 20px;
        margin-left: 5px;
        width: 125px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, #26bdca,#59e7c6);;
        }
      }
    }
  }
}

@media screen and (max-width: 559px) {
  .picture-content {
    .picture-user {
      font-size: 14px;
    }
  }
  #edit-form-body .ui-autocomplete-input {
    width: 100% !important;
  }
}