.picture-wrapper {
  background-color: whitesmoke;
  padding: 20px;

  .picture-content {
    max-width: 1100px;
    width: 95%;
    margin: 20px auto 0;

    &__footer {
      @include line_up_side(center);

      .page-btn {
        transition: color 0.2s;
        color: gray;
        margin: 0 75px;
        font-size: 35px;

        &:hover {
          color: #333;
        }
      }

      .disappear {
        opacity: 0;
      }

      .picture-info {
        @include line_up_vertical_side-center;
        margin-top: 10px;
        text-align: center;
  
        .picture-title {
          margin-bottom: 5px;
        }
  
        .picture-user {
          font-size: 15px;
          color: rgb(56, 56, 56);
  
          span {
            transition: color 0.2s;
            text-decoration: underline;
            &:hover {
              color: black;
            }
          }
        }

        .picture-action {
          @include line_up_side(center);
          margin-top: 10px;

          .action-btn {
            transition: color 0.2s;
            text-decoration: underline;
            color: rgb(56, 56, 56);
            margin: 0 7px;
            font-size: 15px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  
    &__image {
      img {
        width: 100%;
        box-shadow: 2px 2px 10px gray;
      }
    }
  }
}