.picture-wrapper {
  background-color: whitesmoke;
  padding: 0 10px 20px;

  .picture-content {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;

    &__footer {
      @include line_up_side(center);
      position: relative;

      .picture-info {
        @include line_up_vertical_side-center;
        margin-top: 10px;
        text-align: center;
  
        .picture-title {
          margin-bottom: 10px;
          font-size: 18px;

          #edit-btn {
            color: gray;
            margin-left: 5px;
            font-size: 16px;
            cursor: pointer;

            &:hover {
              color: #545454;
            }
          }
        }

        .picture-favorite {
          @include line_up_side(center);
          margin-bottom: 5px;

          .fav-btn {
            margin-right: 5px;
            font-size: 20px;

            &:hover {
              filter: drop-shadow(0 0 5px red);
            }

            &--on {
              color: rgb(224, 36, 94);

            }

            &--off {
              color: gray;
            }
          }

          .fav-count--on {
            color: rgb(224, 36, 94);
          }
        }
  
        .picture-user {
          font-size: 15px;
          color: rgb(56, 56, 56);
  
          span {
            transition: color 0.2s;
            text-decoration: underline;
            &:hover {
              color: black;
            }
          }
        }

        .picture-action {
          @include line_up_side(center);
          position: absolute;
          right: 0;

          .action-btn {
            transition: color 0.2s;
            text-decoration: underline;
            color: rgb(56, 56, 56);
            margin: 0 7px;
            font-size: 15px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  
    &__image {
      img {
        width: 100%;
        box-shadow: 2px 2px 10px gray;
      }
    }
  }
}

#edit-form {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;

  #modal {
    background-color: rgba(128, 128, 128, 0.5);
    width: 100vw;
    height: 100vh;
  }

  #picture-title-edit {
    background-color: white;
    z-index: 15;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    padding: 25px;

    #close-btn {
      color: gray;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #545454;
      }
    }

    .form-title {
      border-bottom: 1px solid lightgray;
    }

    .form-contents {
      margin-top: 25px;

      .input-title {
        width: 350px;
        height: 35px;
        padding: 0 5px;
      }

      ul {
        margin-bottom: 20px;
      }

      input[type="text"] {
        width: 400px;
        height: 35px;
      }

      input.send-btn {
        background: linear-gradient(to right, #23aeba,#53d8b9);
        color: white;
        border-style: none;
        border-radius: 20px;
        margin-left: 5px;
        width: 125px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, #26bdca,#59e7c6);;
        }
      }
    }
  }
}