.pictures-nav {
  @include line_up_side(space-between);
  height: 80px;
  line-height: 80px;
  padding: 0 75px;

  .keyword-search {
    @include line_up_side(space-between);
    input {
      width: 400px;
      height: 30px;
      padding: 0 5px;
    }

    button {
      background-color: $main-color;
      color: white;
      width: 30px;
      height: 30px;
      margin-left: 3px;
      border-style: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: #3fd6c7;
      }
    }
  }

  .new-picture-link {
    background: linear-gradient(to right, #23aeba,#53d8b9);
    color: white;
    width: 125px;
    height: 35px;
    border-radius: 17.5px;
    line-height: 35px;
    text-align: center;

    &:hover {
      background: linear-gradient(to right, #26bdca,#59e7c6);;
    }
  }
}

.pictures-index {
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;

  img {
    height: 250px;
  }
}

.pagination {
  text-align: center;
  height: 75px;
  line-height: 75px;
  font-size: 18px;

  span {
    padding: 0 7px;
  }

  .current {
    color: $main-color;
    font-weight: bold;
  }

  a:hover {
    color: gray;
    text-decoration: underline;
  }
}