.picture-wrapper {
  background-color: whitesmoke;
  padding: 0 10px 20px;

  .picture-content {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;

    &__footer {
      @include line_up_side(center);
      position: relative;

      .picture-info {
        @include line_up_vertical_side-center;
        margin-top: 10px;
        text-align: center;
  
        .picture-title {
          margin-bottom: 10px;
          font-size: 18px;
        }

        .picture-favorite {
          @include line_up_side(center);
          margin-bottom: 5px;

          .fav-btn {
            margin-right: 5px;
            font-size: 20px;

            &:hover {
              filter: drop-shadow(0 0 5px red);
            }

            &--on {
              color: rgb(224, 36, 94);

            }

            &--off {
              color: gray;
            }
          }

          .fav-count--on {
            color: rgb(224, 36, 94);
          }
        }
  
        .picture-user {
          font-size: 15px;
          color: rgb(56, 56, 56);
  
          span {
            transition: color 0.2s;
            text-decoration: underline;
            &:hover {
              color: black;
            }
          }
        }

        .picture-action {
          @include line_up_side(center);
          position: absolute;
          right: 0;

          .action-btn {
            transition: color 0.2s;
            text-decoration: underline;
            color: rgb(56, 56, 56);
            margin: 0 7px;
            font-size: 15px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  
    &__image {
      img {
        width: 100%;
        box-shadow: 2px 2px 10px gray;
      }
    }
  }
}