.pictures-index {
  @include line_up_side(center);
  background-color: whitesmoke;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;

  &--home {
    padding-top: 50px;
  }

  .picture {
    position: relative;
    height: 250px;
    margin: 3px;
    overflow: hidden;

    img {
      transition: transform 0.3s;
      height: 250px;
  
      &:hover {
        transform: scale(1.05, 1.05);
      }
    }

    .picture-info {
      @include line_up_side(flex-end);
      background: linear-gradient(to bottom, #333, rgba(51, 51, 51, 0.7));
      color: lightgray;
      position: absolute;
      z-index: 5;
      top: 0;
      width: 100%;
      height: 0;
      padding: 0 15px;
      visibility: hidden;
      opacity: 0;
      transition: .5s;

      &.visible {
        visibility: visible;
        opacity: 1;
        height: 35px;
      }

      .picture-comments {
        margin-right: 15px;

        i {
          font-size: 18px;
        }
      }

      .picture-favorite {

        .fav-btn {
          font-size: 18px;
          transition: .3s;

          &:hover {
            filter: drop-shadow(0 0 4px red);
          }

          &--on {
            color: rgb(224, 36, 94);
          }
          &--off {
            color: lightgray;
          }
        }

        .fav-count {
          display: inline;
          &--on {
            color: rgb(224, 36, 94);
          }
        }
      }
    }
  }
}

.pagination {
  background-color: white;
  text-align: center;
  height: 75px;
  line-height: 75px;
  font-size: 16px;

  span {
    padding: 0 7px;
  }

  .current {
    color: $main-color;
    font-weight: bold;
  }

  a:hover {
    color: gray;
    text-decoration: underline;
  }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 559px) {
  .pictures-index .picture, .picture img {
    height: 200px !important;
  }
}