#post {
  background-color: whitesmoke;
  max-width: 800px;
  width: 100%;
  margin: 50px auto 0;
  padding: 40px;
  border-radius: 5px;

  .field {
    margin-bottom: 30px;

    &__title {
      margin-bottom: 5px;
      font-weight: bold;

      span{
        background-color: salmon;
        color: white;
        font-size: 12px;
        margin-left: 10px;
        padding: 3px;
        border-radius: 5px;
      }

      .optional {
        background-color: gray;
      }
    }

    input {
      height: 35px;
      width: 300px;
      padding: 0 5px;
    }

    select {
      height: 35px;
      width: 150px;
      padding: 0 5px;
      cursor: pointer;
    }

    .file-input {
      display: none;
    }

    .prev-contents {
      max-width: 480px;
      width: 100%;
      margin: 30px auto 0;
      text-align: center;
      cursor: pointer;

      .default-prev {
        width: 100%;
        height: 250px;
        border: 1px dashed #333;
        margin: 0 auto;
        line-height: 250px;

        i {
          font-size: 35px;
        }
      }

      .prev-image {
        width: 100%;
        max-height: 750px;
        object-fit: contain;
      }
    }

    #main-category {
      margin-bottom: 15px;
    }

    .error-message {
      color: red;
      padding: 10px 5px;
    }
  }

  #pic-submit-btn {
    display: block;
    margin: 60px auto 20px;
    background: linear-gradient(to right, #23aeba,#53d8b9);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 25px;
    font-size: 18px;
    max-width: 360px;
    width: 100%;
    height: 50px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #26bdca,#59e7c6);;
    }
  }
}

#picture-tags {

  li.tagit-choice {
    display: inline-block;
    background-color: $main-color;
    color: white;
    margin: 0 5px 5px 0;
    height: 35px;
    line-height: 30px;
    padding: 0 7px;
    border: 1px solid lightseagreen;
    border-radius: 5px;

    a.tagit-close {
      color: gray;
      cursor: pointer;
      margin-left: 5px;
      font-size: 18px;

      &:hover {
        color: #545454;
      }
    }
  }

  .tagit-new input {
    max-width: 400px;
    width: 100%;
    height: 35px;
  }
}

.ui-autocomplete {
  width: 90%;
  max-width: 400px;
  background-color: white;
  z-index: 50;
  border: 1px solid gray;
  border-radius: 3px;

  li {
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background-color: #3ac9bb25;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

@media screen and (max-width: 559px) {
  #post {
    margin: 0;
    padding: 50px 15px;
  }
}

@media screen and (max-width: 380px) {
  #post .default-prev {
    height: 200px !important;
    line-height: 200px !important;
  }
}