#tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;

  i {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #545454;
    margin-right: 5px;
  }

  .tag {
    display: block;
    background-color: $main-color;
    color: white;
    margin: 0 5px 5px 0;
    max-width: 300px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0 7px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: $main-color-light;
    }
  }
}