.user-header {
  background-color: whitesmoke;
  width: 100%;
  padding: 10px;
  text-align: center;

  &__name {
    @include line_up_side(center);
    font-size: 20px;
    margin-bottom: 10px;

    .user-name {
      margin-right: 10px;
    }

    .user-edit-btn {
      font-size: 15px;
      color: gray;
      text-decoration: underline;

      &:hover {
        color: #333;
      }
    }
  }

  &__icon {
    img {
      background-color: white;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid white;
      margin-bottom: 5px;
    }
  }

  .user-menu {
    font-size: 14px;

    a:hover {
      color: rgb(68, 67, 67);
      text-decoration: underline;
    }
  }
}

.user-contents {
  text-align: center;
  border-top: 5px solid white;

  &__nav {
    height: 30px;
    line-height: 30px;

    .menu {
      margin: 0 10px;
      
      &--no-active {
        color: rgb(170, 169, 169);
        
        &:hover {
          color: rgb(78, 78, 78);
        }
      }

      &--active {
        font-size: 18px;
        color: $main-color;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__users {
    background-color: whitesmoke;
    margin-top: 10px;
    padding-bottom: 30px;

    .user-box {
      display: flex;
      align-items: center;
      width: 95%;
      max-width: 950px;
      margin: 0 auto;
      padding: 30px 10px;
      z-index: 1;
      border-bottom: 2px solid lightgray;

      &__left {
        @include line_up_vertical_side-center;
        width: 150px;
        padding-right: 10px;
        overflow: hidden;

        .user-name {
          &:hover {
            color: #545454;
            text-decoration: underline;
          }
        }
        .user-icon {
          img {
            background-color: white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid white;
            margin-bottom: 5px;
          }
        }
      }
      &__right {
        @include line_up_side(left);
        width: calc(100% - 170px);
        overflow: scroll;
        border: 1px solid lightgray;
        min-height: 150px;
        padding: 5px;
        box-shadow: -1px -1px 1px lightgray;

        img {
          height: 150px;
          margin-right: 5px;
        }
      }
    }
  }
}

.follow-contents {
  z-index: 5;

  .follow-btn {
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 90px;
    border-radius: 17.5px;

    &--on {
      background-color: rgb(86, 196, 240);
      color: white;

      &:hover {
        background-color: rgb(113, 204, 240);
      }
    }
    &--off {
      background-color: white;
      border: 1px solid lightskyblue;

      &:hover {
        background-color: rgb(238, 248, 255);
      }
    }
  }
}