.form {
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 500px;
  padding: 30px;
  border: 1px solid $main-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px gray;

  &__title {
    @include line_up_side(space-between);
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid $main-color;

    &--active {
      font-size: 20px;
    }

    &--other {
      color: gray;
      font-size: 14px;
    }
  }

  .login_message {
    margin-bottom: 30px;
  }

  .field {
    margin-bottom: 40px;

    input {
      width: 100%;
      height: 40px;
      padding: 0 5px;
    }

    input[type="file"] {
      display: none;
    }

    .prev-contents {
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border: 1px solid lightgray;
        border-radius: 50%;
        cursor: pointer;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .actions {
    width: 100%;
    text-align: center;

    input {
      background: linear-gradient(to right, #23aeba,#53d8b9);
      color: white;
      border-style: none;
      border-radius: 25px;
      width: 50%;
      height: 50px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, #26bdca,#59e7c6);;
      }
    }
  }
}

#error_explanation {
  border: 2px solid salmon;
  padding: 10px;
  margin-bottom: 20px;

  li {
    list-style-type: disc;
    list-style-position:inside;
  }
}