#account-form {
  background-color: white;
  max-width: 500px;
  width: 95%;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid $main-color;
  box-shadow: 1px 1px 5px gray;

  &__title {
    @include line_up_side(space-between);
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid $main-color;

    &--active {
      font-size: 20px;
    }

    &--other {
      color: gray;
      font-size: 14px;

      &:hover {
        color: #333333;
      }
    }
  }

  #guest_login {
    display: block;
    background-color: $main-color;
    width: 150px;
    height: 30px;
    margin: 0 auto 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    &:hover {
      background-color: $main-color-light;
    }
  }

  #new_user {
    padding-top: 15px;
    border-top: 1px solid lightgray;
  }

  .field {
    margin-bottom: 40px;

    input {
      width: 100%;
      height: 40px;
      padding: 0 5px;
    }

    input[type="file"] {
      display: none;
    }

    .prev-contents {
      text-align: center;
      margin-top: 15px;

      img {
        width: 100px;
        height: 100px;
        border: 1px solid lightgray;
        border-radius: 50%;
        cursor: pointer;
      }

      p {
        font-size: 14px;
      }
    }
  }

  #submit-btn {
    background-color: $main-color;
    color: white;
    display: block;
    margin: 0 auto 10px;
    border-style: none;
    border-radius: 25px;
    max-width: 250px;
    width: 95%;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: $main-color-light; 
    }
  }

  #back {
    text-align: center;
    margin-top: 20px;
  }

  #back-link {
    color: gray;

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

#error_explanation {
  border: 2px solid salmon;
  padding: 10px;
  margin-bottom: 20px;

  li {
    list-style-type: disc;
    list-style-position:inside;
    margin-left: 0;
  }
}

@media screen and (max-width: 559px) {
  #account-form {
    margin: 30px auto;
    padding: 30px 20px;
  }

  #error_explanation {
    font-size: 14px;
  }
}