.pictures-index
  - if pictures.present?
    - pictures.each do |picture|
      = link_to picture_path(picture), class: "image-mask" do
        = image_tag picture.image_url
  - else
    投稿がありません
= paginate pictures