.picture-wrapper
  .picture-content
    .picture-content__image
      = image_tag @picture.image.url
    .picture-content__info
      .picture-title
        = @picture.title
      .picture-user
        投稿者：
        %span= @picture.user.name