#pictures-nav
  #nav-container
    - breadcrumb :category_picture
    = render "layouts/breadcrumbs"

    #action-buttons
      = link_to new_picture_path, class: "btn new-picture-link" do
        投稿する

= render partial: "pictures/picture", locals: { picture: @picture, category: @picture.category, tag_list: @tag_list, all_tags: @all_tags }
= render "comments/contents"